@charset "UTF-8";

.ud-footer {
	background-color: #212121;
	padding-top: 10px;
	padding-bottom: 25px;
	margin-top: 10px;
	color: #c0c0c0;
	text-align: center;
}

.ud-body {
	display: inline-block;
	background-color: white;
	margin-top: 10px;
	padding: 10px 10px 0px 0px;;
}

.ud-book {
	margin-bottom: 10px;
}

.ud-book img {
	width: 100%;
}

.ud-book-text {
	display:inline-block;
	height: 90px;
}

.ud-book-title {
	display: inline-block;
	color: #212121;
	margin: 10px 0px 0px 0px;
}

.ud-book-subtitle {
	color: gray;
	margin: 0px;
	display: inline-block;
	font-size: xx-small;
}