<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{appName}">Prefix</title>
<th:block th:replace="fragments/style"></th:block>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

	<div th:replace="fragments/top-menu::visitor-menu">Menu Bar for Visitor</div>
	
	<!-- content -->
	<div layout:fragment="content"></div>
	<!-- end of content -->
	
	<div th:replace="fragments/footer::footer">Footer inserted from fragment</div>

	<th:block th:replace="fragments/script"></th:block>
</body>
</html>