<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default-layout-visitor">
<head>
<title th:text="#{detail}">Home - Detailed Information</title>
</head>
<body>

	<!-- content -->
	<div class="container" layout:fragment="content">
		<div class="row ud-body" th:object="${book}">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="/"><span class="glyphicon glyphicon-circle-arrow-left"> </span></a>
				<h3 th:text="#{book} + ' ' + #{detail}">Book Detailssss</h3>
				<hr />
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ud-book">
				<img th:src="*{coverImage}" th:alt="*{title}" />
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<h3 th:text="*{title}" style="margin-top:0px;"></h3>
				<div style="margin-top:10px;">
					<span class="glyphicon glyphicon-user"> </span>
					<strong th:text="*{author}"></strong>
				</div>
				<div style="margin-top:10px;">
					<span class="glyphicon glyphicon-calendar"> </span>
					<span th:text="*{publishDate}"></span>
				</div>
				<div style="margin-top:10px;">
					<span class="glyphicon glyphicon-align-justify" > </span>
					<span th:text="*{page} + ' ' + #{pages}"></span>
				</div><br />
				<div style="margin-top:10px;">
					<strong th:text="#{highlight}">Highlight:</strong>
					<p th:text="${highlight}" align="justify"></p>
				</div>
			</div>
		</div>
	</div>
	<!-- end of content -->
	
</body>
</html>