<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="#{appName} + ' - ' + #{detail}">Home - Detailed Information</title>
<link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
<link rel='stylesheet' href='/assets/css/ud-style.css' />
<link rel='stylesheet' href='/assets/css/bs-css.css' />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

	<!-- top menu and language bar -->
	<div class="container" style="background-color: #fff; color: black; height: 30px; padding-top:5px;">
		<a th:href="@{/book/{id} (id=${book.id}, lang='kh')}"><img src="/assets/images/cambodia_flag.png" style="height:60%;" th:text="' ' + #{khmer}"/></a> | 
		<a th:href="@{/book/{id} (id=${book.id}, lang='en')}"><img src="/assets/images/england_flag.png" style="height:60%;" th:text="' ' + #{english}"/></a>
	</div>
	<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="27" style="border-radius: 0px;">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" th:text="#{appName}">Book Store</a>
			</div>
			<div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<!-- <ul class="nav navbar-nav">
						<li><a href="#section1">Books</a></li>
						<li><a href="#section2">Section 2</a></li>
						<li><a href="#section3">Section 3</a></li>
					</ul> -->

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/admin"><span class="glyphicon glyphicon-user"></span> <span th:text="#{admin}"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- end of top menu and language bar -->
	
	<!-- content -->
	<div class="container">
		<div class="row ud-body" th:object="${book}">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<a href="/"><span class="glyphicon glyphicon-circle-arrow-left"> </span></a>
				<h3 th:text="#{book} + ' ' + #{detail}">Book Detailssss</h3>
				<hr />
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ud-book">
				<img th:src="*{coverImage}" th:alt="*{title}" />
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<h3 th:text="*{title}" style="margin-top:0px;"></h3>
				<div style="margin-top:10px;">
					<span class="glyphicon glyphicon-user"> </span>
					<strong th:text="*{author}"></strong>
				</div>
				<div style="margin-top:10px;">
					<span class="glyphicon glyphicon-calendar"> </span>
					<span th:text="*{publishDate}"></span>
				</div>
				<div style="margin-top:10px;">
					<span class="glyphicon glyphicon-align-justify" > </span>
					<span th:text="*{page} + ' ' + #{pages}"></span>
				</div><br />
				<div style="margin-top:10px;">
					<strong th:text="#{highlight}">Highlight:</strong>
					<p th:text="${highlight}" align="justify"></p>
				</div>
			</div>
		</div>
	</div>
	<!-- end of content -->
	
	<!-- footer -->
	<div class="container-fluid ud-footer">
		<div class="container">
			<h3 th:text="'© ' + #{appName} + ' 2017'">@BookStore 2017</h3>
			<h5>Powered by: Spring Framework</h5>
		</div>
	</div>
	<!-- end of footer -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>