<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default-layout-visitor">
<head>
<title th:text="#{homePage}"></title>
</head>
<body>

	<!-- content -->
	<div class="container" layout:fragment="content">
		<br />
		<div class="alert alert-success" sec:authorize="isAuthenticated()">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span>Welcome </span><span sec:authentication="name">Username</span>
			<span>! You are login successfully. Your role is </span>
			<span sec:authentication="principal.authorities">[ROLE_USER]</span>
		</div>
		<div class="alert alert-danger" sec:authorize="isAnonymous()">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<span>Your are not login yet</span>
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h2 th:text="#{bookList}">Book List</h2><hr /></div>
		</div>
		
		<div class="row" style="margin-bottom: 30px;">
			<form action="/" method="GET">
				<div class="form-group">
					<div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
						<input type="search" name="searchText" id="searchText" 
							   th:placeholder="#{search}" class="form-control"
							   th:value="${searchText}"/>
					</div>
					<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
						<input type="submit" th:value="#{search}" class="btn btn-primary" style="width:100%;"/>
					</div>
				</div>
			</form>
		</div>
		
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-4 ud-book" th:each="book : ${books}" th:object="${book}">
				<a th:href="@{/book/{id}(id=*{id})}">
					<img th:src="*{coverImage}" th:alt="*{title}" />
					<span class="ud-book-text">
						<span th:text="*{title}" class="ud-book-title"></span>
						<span th:text="*{author} + ' | ' + *{publishDate}" class="ud-book-subtitle" ></span>
					</span>
				</a>
			</div>
		</div>
	</div>
	<!-- end of content -->

</body>
</html>