<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default-layout-admin">
<head>
<title th:text="(${addStatus}?#{add}:#{edit}) + ' ' + #{book}">Home - Books</title>
</head>
<body>

	<!-- content -->
	<div class="container" layout:fragment="content">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 th:text="(${addStatus}?#{add}:#{edit}) + ' ' + #{book}">Add a book</h2>
				<hr />
			</div>
		</div>
		<form th:action="${addStatus}?'/admin/book/add':'/admin/book/edit'" Method="POST" th:object="${book}" style="margin-top: 10px;" enctype="multipart/form-data">
			
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
				<label th:if="${#fields.hasErrors('*')}" th:text="#{error}">Errors: </label>
				<ul>
					<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			</div>
			
			<div class="form-group row" style="display: none;">
				<label for="id" class="col-sm-2 col-form-label" th:text="#{id}">ID</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" th:field="*{id}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="title" class="col-sm-2 col-form-label" th:text="#{title}">Title</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{title}" />
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="author" class="col-sm-2 col-form-label" th:text="#{author}">Author</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{author}" />
					<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="publishDate" class="col-sm-2 col-form-label" th:text="#{publishDate}">Publish Date</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" th:field="*{publishDate}" />
					<span th:if="${#fields.hasErrors('publishDate')}" th:errors="*{publishDate}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="page" class="col-sm-2 col-form-label" th:text="#{page}">page</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" th:field="*{page}" />
					<span th:if="${#fields.hasErrors('page')}" th:errors="*{page}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="publisher" class="col-sm-2 col-form-label" th:text="#{publisher}">Cover Image </label>
				<div class="col-sm-10">
					<select class="selectpicker form-control show-tick" 
							data-live-search="true" 
							multiple="multiple"
							title="Choose publisher(s) ..."
							name="publisherIds">
						  <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.publisher}">Mustard</option>
						  <!-- <option value = "Ketchup">Ketchup</option>
						  <option value = "Relish">Relish</option> -->
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="coverImage" class="col-sm-2 col-form-label" th:text="#{coverImage}">Cover Image </label>
				<div class="col-sm-10">
					<input type="hidden" id="coverImage" th:field="*{coverImage}" />
					<span th:if="${addStatus}">
						<input type="file" id="file" name="file" class="custom-file-input" required="required"/>
					</span>
					<span th:unless="${addStatus}">
						<input type="file" id="file" name="file" class="custom-file-input" />
					</span>
					<span class="custom-file-control"></span>
					<!-- <span th:if="${#fields.hasErrors('coverImage')}" th:errors="*{coverImage}"></span> -->
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<a href="/admin" role="button" class="btn btn-default" th:text="#{back}">Back</a>
					<button th:text="${addStatus}?#{save}:#{update}" type="submit" class="btn btn-primary">Add or Update</button>
				</div>
			</div>
		</form>
	</div>
	<!-- end of content -->
	
	<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			$('.selectpicker').selectpicker('val', ['1']);
		});
	</script>
	</th:block>
	
</body>
</html>