<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default-layout-admin">
<head>
<title th:text="#{homePage}"></title>
</head>
<body>
	
	<!-- content -->
	<div class="container" layout:fragment="content">
		<div class="row ud-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="container">
							<div class="row">
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
									<h4 th:text="#{allBook}">All Bookssss</h4>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
									<a th:href="@{/admin/book/add}" role="button" class="btn btn-default my-btn"
									   th:text="#{add}">Add</a>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="container">
						<div class="row" th:each="book : ${books}" th:object="${book}" style="margin-bottom: 20px">
							<div class="col-lg-1 col-md-1 col-sm-2 col-xs-6">
								<img th:src="*{coverImage}" th:alt="*{title}" style="width: 100%;"/>
							</div>
							<div class="col-lg-9 col-md-9 col-sm-8 col-xs-6">
								<h4 th:text="*{title}" style="margin-top:0px;"></h4>
								<div style="margin-top:5px; font-size:x-small;">
									<span class="glyphicon glyphicon-user"> </span>
									<strong th:text="*{author}"></strong>
								</div>
								<div style="margin-top:5px; font-size:x-small;">
									<span class="glyphicon glyphicon-calendar"> </span>
									<span th:text="*{publishDate}"></span>
								</div>
								<div style="margin-top:5px; font-size:x-small;">
									<span class="glyphicon glyphicon-align-justify" > </span>
									<span th:text="*{page} + ' ' + #{pages}"></span>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
								<!-- <form th:action="@{/admin/book/delete/{id}(id=*{id})}" Method="POST">
									<a th:href="@{/admin/book/edit/{id}(id=*{id})}" role="button" class="btn btn-warning my-btn" th:text="#{edit}">Edit</a> <br/>
									<button type="submit" id="btnDelete" class="btn btn-danger my-btn" th:text="#{remove}">Remove</button>
								</form> -->
								<a th:href="@{/admin/book/edit/{id}(id=*{id})}" 
								   role="button" class="btn btn-warning my-btn" 
								   th:text="#{edit}">Edit</a> <br/>
								<a th:href="@{/admin/book/delete/{id}(id=*{id})}" 
								   role="button" class="btn btn-danger my-btn" 
								   th:text="#{remove}">Remove</a>
								<!-- <a th:href="@{/admin/book/remove/{id}(id=*{id})}" role="button" class="btn btn-danger my-btn">Remove</a> -->
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<hr style="margin-bottom: 0px;"/>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
	<!-- end of content -->
	
</body>
</html>