<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="(${addStatus}?#{add}:#{edit}) + ' ' + #{book}">Home - Books</title>
<link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
<link rel='stylesheet' href='/assets/css/ud-style.css' />
<link rel='stylesheet' href='/assets/css/bs-css.css' />
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

	<!-- top menu and language bar -->
	<div class="container" style="background-color: #fff; color: black; height: 30px; padding-top:5px;">
		<a th:href="${addStatus}?@{/admin/book/add (lang='kh')}:@{/admin/book/edit/{id} (id=${book.id}, lang='kh')}"><img src="/assets/images/cambodia_flag.png" style="height:60%;" th:text="' ' + #{khmer}"/></a> | 
		<a th:href="${addStatus}?@{/admin/book/add (lang='en')}:@{/admin/book/edit/{id} (id=${book.id}, lang='en')}"><img src="/assets/images/england_flag.png" style="height:60%;" th:text="' ' + #{english}"/></a>
	</div>
	<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="27" style="border-radius: 0px;">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" th:text="#{appName}">Book Store</a>
			</div>
			<div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<!-- <ul class="nav navbar-nav">
						<li><a href="#section1">Books</a></li>
						<li><a href="#section2">Section 2</a></li>
						<li><a href="#section3">Section 3</a></li>
					</ul> -->

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/"><span class="glyphicon glyphicon-user"></span> <span th:text="#{visitor}"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- end of top menu and language bar -->
	
	<!-- content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2 th:text="(${addStatus}?#{add}:#{edit}) + ' ' + #{book}">Add a book</h2>
				<hr />
			</div>
		</div>
		<form th:action="${addStatus}?'/admin/book/add':'/admin/book/edit'" Method="POST" th:object="${book}" style="margin-top: 10px;" enctype="multipart/form-data">
			
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
				<label th:if="${#fields.hasErrors('*')}" th:text="#{error}">Errors: </label>
				<ul>
					<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
				</ul>
			</div>
			
			<div class="form-group row" style="display: none;">
				<label for="id" class="col-sm-2 col-form-label" th:text="#{id}">ID</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" th:field="*{id}" />
				</div>
			</div>
			<div class="form-group row">
				<label for="title" class="col-sm-2 col-form-label" th:text="#{title}">Title</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{title}" />
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="author" class="col-sm-2 col-form-label" th:text="#{author}">Author</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{author}" />
					<span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="publishDate" class="col-sm-2 col-form-label" th:text="#{publishDate}">Publish Date</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" th:field="*{publishDate}" />
					<span th:if="${#fields.hasErrors('publishDate')}" th:errors="*{publishDate}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="page" class="col-sm-2 col-form-label" th:text="#{page}">page</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" th:field="*{page}" />
					<span th:if="${#fields.hasErrors('page')}" th:errors="*{page}"></span>
				</div>
			</div>
			<div class="form-group row">
				<label for="coverImage" class="col-sm-2 col-form-label" th:text="#{coverImage}">Cover Image </label>
				<div class="col-sm-10">
					<input type="hidden" id="coverImage" th:field="*{coverImage}" />
					<span th:if="${addStatus}">
						<input type="file" id="file" name="file" class="custom-file-input" required="required"/>
					</span>
					<span th:unless="${addStatus}">
						<input type="file" id="file" name="file" class="custom-file-input" />
					</span>
					<span class="custom-file-control"></span>
					<!-- <span th:if="${#fields.hasErrors('coverImage')}" th:errors="*{coverImage}"></span> -->
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<a href="/admin" role="button" class="btn btn-default" th:text="#{back}">Back</a>
					<button th:text="${addStatus}?#{save}:#{update}" type="submit" class="btn btn-primary">Add or Update</button>
				</div>
			</div>
		</form>
	</div>
	<!-- end of content -->
	
	<!-- footer -->
	<div class="container-fluid ud-footer">
		<div class="container">
			<h3 th:text="'© ' + #{appName} + ' 2017'">@BookStore 2017</h3>
			<h5>Powered by: Spring Framework</h5>
		</div>
	</div>
	<!-- end of footer -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>